<header>

<a href="/"><h1 class="site-title"><i class=" fa fa-map-o"></i> NonsenseMap</h1></a>

<nav class="navbar">

<ul class="navlist">

<li class="navitem navlink active"><a href="/">Home</a></li>

<li class="navitem navlink"><a href="/mapListing">Trending</a></li>

<li class="navitem navbar-search">

<input type="text" id="navbar-search-input" placeholder="Search...">

</li>

</ul>

</nav>

</header>
