<div class="map">
	<i id="expandImage" tabindex="0" class="fa fa-plus"><a class="input-element" href="#">{{caption}}</a></i>
	<div  class="content">
	<canvas class='canvas' width="600" height="600">Please use a browser that supports HTML5 Canvas</canvas>
	<div> class ='hidden'>{{mapCode}}</div>
	</div>
</div>