	<head>
		<meta  charset="utf-8">
		<title> Dungeon Mapper</title>
		<!-- This is a stylesheet that includes the font you should use -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
		<!-- This is a 3rd-party stylesheet for Font Awesome: http://fontawesome.io/ -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="screen">
		<link rel="stylesheet" href="/style.css" type="text/css">
		
		<script src = "/index.js" defer></script>
	</head>
	<body>
		<header>
			<a href="/"><h1 class="site-title"><i class="fa fa-map-o"></i> Dungeon Mapper</h1></a>
			
			<nav class="navbar">
				<ul class="navlist">
					<li class="navitem navlink active"><a href="/">Home</a></li>
					<li class="navitem navlink"><a href="/environments">Environments</a></li>
					<li class="navitem  navbar-search">
						<input type="text" id="navbar-search-input" placeholder="Search...">
						<button type="button" id="navbar-search-button><i class="fas fa-search"></i></button>
					</li>
				</ul>
			</nav>
		</header>
		
		<main class="container">
			<div class="aboutPage">
				<h3>About this Site</h3>
				<p>This website allows you to create and view dungeon maps for RolePlaying games such as Dungeons and Dragons.</p>
				<p>Navigate to the environments page you wish to create a dungeon for, then
				press the button in the lower right-hand corner to create your own maps.</p>
			<div>
		</main>
	</body>