/////////////////////////
//template for index.js//
////////////////////////

x{{> header}}

<div class="title-container">

<h2> You are posting on {{name}}</h2>

</div>

<main class="container">

{{# each map}}

{{> map}}

{{/each}}
